<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="admin/fragments/headTag"/>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div th:replace="admin/fragments/sideBar"/>

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:replace="admin/fragments/topBar"/>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->

      <div class="container">
        <h1>Edit Clothe</h1>
        <form th:action="@{/admin/adminClothe/editClotheAdmin}" th:object="${clothe}" enctype="multipart/form-data" method="post">
          <input type="hidden" th:field="*{id}">
          <div class="col-6 mb-3">
            <label class="form-label" for="name">Title</label>
            <input class="form-control" type="text" th:field="*{name}" id="name">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label" for="imagePreview">Image</label>
            <input class="form-control" type="file" accept="image/png, image/jpeg, imaage/jpg"  th:field="*{image}" id="image">
            <img style="width: 200px; height: 200px;" th:src="@{'/images/' + ${clothe.image}}" id="imagePreview"/>
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
          </div>

          <div class="col-6 mb-3">
            <label class="form-label" for="name">Price</label>
            <input class="form-control" type="text" th:field="*{price}" id="price">
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
          </div>

          <div class="col-6 mb-3">
            <label class="form-label" for="name">Category</label>
            <select class="form-control" id="category" name="category">
              <option value="">-- Select Category</option>
              <option th:each="category : ${categories}" th:value="${category.id}"
                      th:text="${category.name}" th:selected="${clothe.category.id == category.id}"></option>
            </select>
          </div>
          <input type="submit" value="Save">
        </form>
        <br>
        <a th:href="@{/admin/adminClothe/listClotheAdmin}">Back to List</a>
      </div>

      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <div th:replace="admin/fragments/footerTag"/>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="admin/fragments/logoutModal"/>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>









