<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
        <head>
        <meta charset="UTF-8">
        <title>My App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">My Shop</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clothes">List Clothes</a>
                    </li>
                    <form action="/search/" method="post" >
                        <input name="search"/>
                        <input type="submit" value="Tìm kiếm">
                    </form>
                </ul>
            </div>


            <li class="d-flex gap-3" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-danger" type="submit">Logout</button>
                </form>
                <a class="btn btn-outline-primary mr-4" href="/cart">Giỏ hàng</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a class="btn btn-outline-primary" href="/login">Login</a>
            </li>
        </div>
    </nav>
</header>
<div th:insert="~{::${content}}">
    <!--Nội Dung Trang Con-->
</div>
<footer th:fragment="footer">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</footer>
</body>
</html></title>
</head>
<body>

</body>

</html>